*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #182043;
    display: flex;
    justify-content: center;
   align-items: center;
  

}
.container{
    width: 15rem;
    border: 2px solid #232549;
    box-shadow: 3px 3px 3px 3px;
    padding: 20px;
    border-radius: 1rem;
    background-color: transparent;
    height: 28rem;
    
}
input{
    width: 100%;
    height: 10rem;
    border: none;
    background-color: transparent;
    box-shadow: 1px 0px 1px 1px;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}
input::placeholder{
    color: aliceblue;
}
button{
    height: 35px;
    width: 33px;
    text-align: center;
    border: none;
    border-radius: 1rem;
    margin: 5px;
    background-color: #5F3F78;
    cursor: pointer;
    color: aliceblue;
    font-size: 15px;
}
.color{
    background-color: #545FB6;

}
.equal{
    background-color: orange;
}
.operater{
    background-color: #545F34;
}